html {
    box-sizing: border-box;
    width: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    width: 100%;
    margin: 0;
}

article {
    width: 1000px;
    line-height: 1.5em;
}

canvas {
    max-width: 100%;
}

@media only screen and (max-width: 576px) {

	article {
		width: 100%;
	}

}

p {
    text-align: justify;
}

strong.code-inline {
    font-family: 'Source Code Pro','Ubuntu Mono',monospace;
    font-style: normal;
    font-weight: 600;
}

.fit-width {
    width: 100%;
    border: 1px solid #e1e7e6;
}

.file-display {
    display: flex;
    margin: 8px 0;
}
.dir-row {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-left: 8px;
    font-family: 'Source Code Pro','Ubuntu Mono',monospace;
}