html {
    box-sizing: border-box;
    width: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    width: 100%;
    margin: 0;
}

article {
    width: 1000px;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
}

canvas {
    max-width: 100%;
}

p {
    text-align: justify;
    margin-bottom: 0;
}

.copyable-formula {
    color: transparent;
    font-size: 0;
}

code, pre {
    font-family: 'Source Code Pro','Ubuntu Mono',monospace;
}

strong.code-inline {
    font-family: 'Source Code Pro','Ubuntu Mono',monospace;
    font-style: normal;
    font-weight: 600;
}

.fit-width {
    width: 100%;    
    border: 1px solid #e1e7e6;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-weight: normal;
    margin-top: 24px;
    margin-left: -50%;
    width: 200%;
    justify-self: center;
}

figure {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

figure img {
    width: 100%;
}

.image-border {
    border: 1px solid #e1e7e6;
}

.file-display {
    display: flex;
    margin: 8px 0;
}
.dir-row {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-left: 8px;
    font-family: 'Source Code Pro','Ubuntu Mono',monospace;
}

@media only screen and (max-width: 576px) {

	article {
		width: 100%;
	}

    figure {
        width: 100%;
    }
    
    figcaption {
        margin-left: 0;
        width: 100%;
    }

    .language-js {
        font-size: 12px !important;
        line-height: 1.5 !important;
    }
 }